<div class="card bg-card text-dark">
  <div class="card-header">
    Detalle Cliente
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group text-dark mb-3">
          <li class="list-group">


          </li>
          <li class="list-group">Nombre: {{cliente.nombre}}</li>
          <li class="list-group">{{cliente.apellido}}</li>
          <li class="list-group">{{cliente.email}}</li>
          <li class="list-group">{{cliente.telefono}}</li>
          <li class="list-group">{{cliente.nacimiento}}</li>

        </ul>


      </div>

    </div>

  </div>

</div>



