<div class="card border-primary mb-3">
  <div class="card-header">
    Alquileres
  </div>
  <div class="card-body text-primary">

    <h4>Listado de alquileres</h4>

    <div class="my-2 text-left">
      <button
            class="btn btn.rounded btn-primary"
            type="button"
            [routerLink]="['/alquileres/crear']" >
      Nuevo Alquiler
    </button>

</div>

<table class="table  table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Coche</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha Inicial</th>
      <th scope="col">Fecha Final</th>
      <th *ngIf="authService.token">
       Accion
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of alquileres; let i = index">

      <th scope="row"><h1>{{item.id}}</h1></th>
      <td><h2>{{item.coche.marca}}-{{item.coche.modelo}}</h2></td>
      <td><h2>{{item.cliente.nombre}},{{item.cliente.apellido}}</h2></td>
      <td><h2>{{item.fechaIni}}</h2></td>
      <td><h2>{{item.fechaFin}}</h2></td>
      <td *ngIf="authService.token">

        <button class="btn btn-info btn-lg" [routerLink]="['/alquileres/ver',item.id]" >Ver</button>
        <button class="btn btn-primary btn-lg" [routerLink]="['/alquileres/editar',item.id]">Editar</button>
        <button class="btn btn-danger btn-lg" (click)="delete(item)">Eliminar</button>
      </td>
    </tr>

  </tbody>
</table>

</div>

</div>


