<div class="card bg-card text-dark">
  <div class="card-header">
    Detalle Alquiler
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group text-dark mb-3">
          <li class="list-group">

          </li>
         <h1> <li class="list-group">Vehículo: {{alquiler.coche.marca}} - {{alquiler.coche.modelo}}</li>
          <li class="list-group">Cliente: {{alquiler.cliente.nombre}} {{alquiler.cliente.apellido}}</li>
          <li class="list-group">Fecha inicial:{{alquiler.fechaIni}}</li>
          <li class="list-group">Fecah final: {{alquiler.fechaFin}}</li>
        </h1>
        </ul>



      </div>

    </div>

  </div>

</div>




